<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-title">Орендуй автомобіль та насолоджуйся!</h1>
    <p class="hero-text">
      Великий вибір оренди авто для будь-яких потреб – від економ до
      преміум-класу.
    </p>
    <button class="hero-btn" type="submit">
      Знайти авто
      <svg class="icon hero-search-icon" width="16" height="16">
        <use href="../img/icons.svg#icon-search"></use>
      </svg>
    </button>
    <div class="hero-search-form">
      <div class="hero-search-inputs">
        <label class="hero-input-title">
          Адрес отримання
          <div class="hero-input-wrapper">
            <input
              class="hero-search-input hero-address"
              type="text"
              id="receipt-address"
              name="receipt-address"
              placeholder="Обери локацію"
            />
            <svg class="icon hero-input-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-map"></use>
            </svg>
          </div>
        </label>
        <label class="hero-input-title">
          Дата отримання
          <div class="hero-input-wrapper">
            <input
              class="hero-search-input hero-date"
              type="text"
              id="receipt-date"
              name="receipt-date"
              placeholder="01/01/2025"
            />
            <svg class="icon hero-input-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-calendar"></use>
            </svg>
          </div>
        </label>
        <label class="hero-input-title">
          Адрес отримання
          <div class="hero-input-wrapper">
            <input
              class="hero-search-input hero-address"
              type="text"
              id="return-address"
              name="return-address"
              placeholder="Обери локацію"
            />
            <svg class="icon hero-input-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-map"></use>
            </svg>
          </div>
        </label>
        <label class="hero-input-title">
          Дата повернення
          <div class="hero-input-wrapper">
            <input
              class="hero-search-input hero-date"
              type="text"
              id="return-date"
              name="return-date"
              placeholder="01/01/2025"
            />
            <svg class="icon hero-input-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-calendar"></use>
            </svg>
          </div>
        </label>
      </div>
      <button class="hero-search-btn" type="submit">
        Знайти авто
        <svg class="icon hero-search-icon" width="16" height="16">
          <use href="../img/icons.svg#icon-search"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
