<section class="home-catalog">
  <div class="container home-catalog-container">
    <h2 class="visually-hidden">Home-catalog</h2>
    <p class="home-catalog-title">Акції</p>
    <ul class="home-catalog-list">
      <li class="home-catalog-item">
        <picture>
          <source
            media="(min-width: 1158px)"
            srcset="./img/home-catalog/camry-4x-desk.webp"
            type="image/webp"
          />
          <!-- <source media="(min-width: 768px)" srcset="" type="image/webp" /> -->
          <source
            media="(max-width: 767px)"
            srcset="./img/home-catalog/camry-4x.webp"
            type="image/webp"
          />
          <img
            class="home-catalog-img"
            src="./img/home-catalog/camry-4x.webp"
            alt="Toyota Camry"
            width="100%"
            height="auto"
            loading="lazy"
          />
        </picture>
        <div class="home-catalog-details">
          <h3 class="home-catalog-name">Toyota Camry</h3>
          <div class="home-catalog-price">
            <p>$49/<span>день</span></p>
            <span class="home-catalog-old-price">$69</span>
          </div>
          <ul class="home-catalog-char">
            <li>Бензин</li>
            <li>Автомат</li>
            <li>5 місць</li>
          </ul>
          <button class="home-catalog-btn" type="button">
            Деталі
            <svg class="icon">
              <use href="./img/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="home-catalog-item">
        <picture>
          <source
            media="(min-width: 1158px)"
            srcset="./img/home-catalog/ford-4x-desk.webp"
            type="image/webp"
          />
          <!-- <source media="(min-width: 768px)" srcset="" type="image/webp" /> -->
          <source
            media="(max-width: 767px)"
            srcset="./img/home-catalog/ford-4x.webp"
            type="image/webp"
          />
          <img
            class="home-catalog-img"
            src="./img/home-catalog/ford-4x.webp"
            alt="Ford"
            width="100%"
            height="auto"
            loading="lazy"
          />
        </picture>
        <div class="home-catalog-details">
          <h3 class="home-catalog-name">Ford</h3>
          <div class="home-catalog-price">
            <p>$49/<span>день</span></p>
            <span class="home-catalog-old-price">$69</span>
          </div>
          <ul class="home-catalog-char">
            <li>Бензин</li>
            <li>Автомат</li>
            <li>5 місць</li>
          </ul>
          <button class="home-catalog-btn" type="button">
            Деталі
            <svg class="icon">
              <use href="./img/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="home-catalog-item">
        <picture>
          <source
            media="(min-width: 1158px)"
            srcset="./img/home-catalog/mercedes-4x-desk.webp"
            type="image/webp"
          />
          <!-- <source media="(min-width: 768px)" srcset="" type="image/webp" /> -->
          <source
            media="(max-width: 767px)"
            srcset="./img/home-catalog/mercedes-4x.webp"
            type="image/webp"
          />
          <img
            class="home-catalog-img"
            src="./img/home-catalog/mercedes-4x.webp"
            alt="Mercedes"
            width="100%"
            height="auto"
            loading="lazy"
          />
        </picture>
        <div class="home-catalog-details">
          <h3 class="home-catalog-name">Mercedes</h3>
          <div class="home-catalog-price">
            <p>$49/<span>день</span></p>
            <span class="home-catalog-old-price">$69</span>
          </div>
          <ul class="home-catalog-char">
            <li>Бензин</li>
            <li>Автомат</li>
            <li>5 місць</li>
          </ul>
          <button class="home-catalog-btn" type="button">
            Деталі
            <svg class="icon">
              <use href="./img/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
    <p class="home-catalog-title">Популярні</p>
    <ul class="home-catalog-list">
      <li class="home-catalog-item">
        <picture>
          <source
            media="(min-width: 1158px)"
            srcset="./img/home-catalog/volkswagen-4x-desk.webp"
            type="image/webp"
          />
          <!-- <source media="(min-width: 768px)" srcset="" type="image/webp" /> -->
          <source
            media="(max-width: 767px)"
            srcset="./img/home-catalog/volkswagen-4x.webp"
            type="image/webp"
          />
          <img
            class="home-catalog-img"
            src="./img/home-catalog/volkswagen-4x.webp"
            alt="Volkswagen"
            width="100%"
            height="auto"
            loading="lazy"
          />
        </picture>
        <div class="home-catalog-details">
          <h3 class="home-catalog-name">Volkswagen</h3>
          <div class="home-catalog-price">
            <p>$49/<span>день</span></p>
            <span class="home-catalog-old-price">$69</span>
          </div>
          <ul class="home-catalog-char">
            <li>Бензин</li>
            <li>Автомат</li>
            <li>5 місць</li>
          </ul>
          <button class="home-catalog-btn" type="button">
            Деталі
            <svg class="icon">
              <use href="./img/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="home-catalog-item">
        <picture>
          <source
            media="(min-width: 1158px)"
            srcset="./img/home-catalog/volkswagen2-4x-desk.webp"
            type="image/webp"
          />
          <!-- <source media="(min-width: 768px)" srcset="" type="image/webp" /> -->
          <source
            media="(max-width: 767px)"
            srcset="./img/home-catalog/volkswagen2-4x.webp"
            type="image/webp"
          />
          <img
            class="home-catalog-img"
            src="./img/home-catalog/volkswagen2-4x.webp"
            alt="Volkswagen"
            width="100%"
            height="auto"
            loading="lazy"
          />
        </picture>
        <div class="home-catalog-details">
          <h3 class="home-catalog-name">Volkswagen</h3>
          <div class="home-catalog-price">
            <p>$49/<span>день</span></p>
            <span class="home-catalog-old-price">$69</span>
          </div>
          <ul class="home-catalog-char">
            <li>Бензин</li>
            <li>Автомат</li>
            <li>5 місць</li>
          </ul>
          <button class="home-catalog-btn" type="button">
            Деталі
            <svg class="icon">
              <use href="./img/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="home-catalog-item">
        <picture>
          <source
            media="(min-width: 1158px)"
            srcset="./img/home-catalog/kia-4x-desk.webp"
            type="image/webp"
          />
          <!-- <source media="(min-width: 768px)" srcset="" type="image/webp" /> -->
          <source
            media="(max-width: 767px)"
            srcset="./img/home-catalog/kia-4x.webp"
            type="image/webp"
          />
          <img
            class="home-catalog-img"
            src="./img/home-catalog/kia-4x.webp"
            alt="KIA"
            width="100%"
            height="auto"
            loading="lazy"
          />
        </picture>
        <div class="home-catalog-details">
          <h3 class="home-catalog-name">KIA</h3>
          <div class="home-catalog-price">
            <p>$49/<span>день</span></p>
            <span class="home-catalog-old-price">$69</span>
          </div>
          <ul class="home-catalog-char">
            <li>Бензин</li>
            <li>Автомат</li>
            <li>5 місць</li>
          </ul>
          <button class="home-catalog-btn" type="button">
            Деталі
            <svg class="icon">
              <use href="./img/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
