<section class="home-services">
  <div class="container home-services-container">
    <div class="home-services-textcontent">
      <h2 class="home-services-title">Наші послуги</h2>
      <ul class="home-services-list">
        <li class="home-services-item">
          <svg class="icon home-services-icon">
            <use href="./img/icons.svg#icon-check"></use>
          </svg>
          <p>
            Широкий вибір автомобілів для міських поїздок, подорожей або ділових
            зустрічей
          </p>
        </li>
        <li class="home-services-item">
          <svg class="icon home-services-icon">
            <use href="./img/icons.svg#icon-check"></use>
          </svg>
          <p>Довгострокова та короткострокова оренда (мінімум 1 день)</p>
        </li>
        <li class="home-services-item">
          <svg class="icon home-services-icon">
            <use href="./img/icons.svg#icon-check"></use>
          </svg>
          <p>Оренда з водієм, доставка авто у зручне для вас місце та час</p>
        </li>
        <li class="home-services-item">
          <svg class="icon home-services-icon">
            <use href="./img/icons.svg#icon-check"></use>
          </svg>
          <p>Здайте свій автомобіль в оренду та отримайте кошти</p>
        </li>
      </ul>
      <ul class="home-services-btns">
        <li class="home-services-btn-item">
          <button class="home-services-btn">Каталог</button>
        </li>
        <li class="home-services-btn-item">
          <button class="home-services-btn">Здати авто</button>
        </li>
      </ul>
    </div>
    <img
      class="home-services-img"
      src="../img/home-services/services.webp"
      alt="Services Photo"
      width="645"
      height="533"
    />
  </div>
</section>
